<section class="w-full h-full flex">
  <section class="navBar flex flex-column justify-content-between p-4">
    <section class=" flex flex-column gap-3">
      <div class="logo-container">
        <img src="assets/task.png" alt="Logo">
        <p class="f-inter m-0 font-semibold text-5xl">TaskFlow</p>
      </div>
      <p-divider />
      <section class="filters">
        <p-iconfield>
          <input (input)="changeInput($event)" type="text" pInputText placeholder="Digite para pesquisar" />
          <p-inputicon styleClass="pi pi-search" />
        </p-iconfield>
        <section>
          <p class="font-semibold text-xl">Filtros de tarefas</p>
          @for (f of f_status; track $index) {
          <p [ngClass]="{'font-bold': selected_f === f.type}" class="cursor-pointer" (click)="setFilter(f.type)">
            {{f.title}}</p>
          }
        </section>
      </section>
    </section>
    <section class="text-xl flex flex-column gap-2">
      <span>
        <i class="bi bi-person-circle"></i>
        Perfil
      </span>
      <span class="cursor-pointer" (click)="logout()">
        <i class="bi bi-arrow-right-square-fill"></i>
        Sair
      </span>
    </section>
  </section>
  <section class="content w-full h-full px-4">
    <section class="flex justify-content-end gap-2 align-items-end">
      <p-skeleton *ngIf="loading.date" class="w-2" />
      <span *ngIf="!loading.date" class="txt_default text-sm">{{getDate()}}</span>
      <img src="assets/default.png" class="h-7rem" />
    </section>
    <section class="pagin">
      <section class="flex h-full flex-column gap-2">
        <p-button class="add" *ngIf="tarefas.length > 0 && !loading.date" icon="pi pi-plus" severity="success"
          (click)="showDialog()" />
        <p-skeleton *ngIf="loading.date" width="2.5rem" height="2rem" />
        <app-list *ngIf="!loading.cards" [tarefas]="tarefas" (notify)="search(value, selected_f)" />
        <app-list-skeleton *ngIf="loading.cards" />
      </section>
      <p-paginator *ngIf="tarefas.length > 0" appendTo="body" (onPageChange)="onPageChange($event)" [first]="first"
        [rows]="rows" [totalRecords]="totalRecords" />
    </section>
  </section>
</section>