$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

@mixin breakpoint($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

.auth {
  background-color: #568B63;
  background-size: 50%;
  background-position: top center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  @include breakpoint(xs) {
    background-size: 35%;
  }

  @include breakpoint(sm) {
    background-size: 27%;
  }

  @include breakpoint(md) {
    background-size: 40%;
    background-position: top left;
    justify-content: end;
  }

  @include breakpoint(lg) {
    background-size: 30%;
  }

  .form_part {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;

    @include breakpoint(md) {
      width: 50%;
    }
  }

  .form_login {
    width: 100%;
    border-radius: .35rem;
    color: black;
    background-color: #E8F2EB;
    padding: 1.75rem 1.25rem;

    .link {
      color: #44A3DE;
      font-size: .75rem;
      cursor: pointer;

      &:hover {
        color: #2c6a91;
      }
    }

    @include breakpoint(xs) {
      width: 70%;
    }

    @include breakpoint(sm) {
      width: 50%;
    }

    @include breakpoint(md) {
      width: 70%;
    }

    @include breakpoint(lg) {
      width: 50%;
    }
  }
}

.p-password {
  width: 100%;

  input {
    width: 100%;
  }
}