<p-confirmpopup *ngIf="!dell" />
<section class="w-full grid-container">
  @for (t of tarefas; track $index) {
  <section class="card_ shadow-2">
    <section class="flex flex-column gap-3">
      <span class="txt_default text-center text-xl font-semibold" [pTooltip]="t.nome.length > 30 ? t.nome : ''">
        {{ t.nome.length > 30 ? (t.nome | slice:0:30) + '...' : t.nome }}
      </span>

      <span class="txt_default">Descrição: <br>
        <p-scrollpanel [style]="{ width: '100%', height: '100px' }">
          <p class="m-0 txt_">{{t.descricao}}</p>
        </p-scrollpanel>
      </span>
    </section>
    <section class="flex flex-column gap-3 ">
      <span class="txt_default">Data vencimento: <br>
        <p class="m-0 txt_">{{ t.dataValidade | date: 'dd/MM/yyyy' }}</p>
      </span>
      <section>
        <p-checkbox [(ngModel)]="t.concluido" [binary]="true" (onChange)="confirm($event, t.id,
          t.concluido)" />
        <label for="ny" class="ml-2">Concluído</label>
      </section>
      <section class="flex justify-content-between align-content-center">
        <p-tag [value]="normalize(t.status)" [severity]="getSeverity(t.status)" />
        <section class="actions h-2rem">
          <p-button pTooltip="Editar tarefa" size="large" icon="bi bi-pencil-square" [rounded]="true" [text]="true"
            severity="success" (onClick)="edit(t)" />
          <p-button pTooltip="Excluir tarefa" size="large" icon="bi bi-trash-fill" [rounded]="true" [text]="true"
            severity="danger" (onClick)="del(t.id)" />
        </section>
      </section>
    </section>
  </section>
  } @empty {
  <section class="w-full h-full flex justify-content-center align-items-center">
    <!-- <P>I Love Duda</P> -->
  </section>
  }
</section>

<p-confirmdialog appendTo="body" *ngIf="dell" #cd>
  <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
    <div class="modal_del txt_default f-inter">
      <span class="title font-semibold text-2xl">{{ message.header }}</span>
      <section class="flex flex-column gap-2 py-4">
        <p class="m-0">Tem certeza de que deseja excluir esta tarefa?</p>
        <p class="font-semibold m-0">Após a exclusão, essa ação não poderá ser <br> desfeita!</p>
      </section>
      <div class="flex align-items-center justify-content-end gap-2">
        <p-button label="Fechar" size="small" (onClick)="onReject()" styleClass="d_color"></p-button>
        <p-button label="Confirmar" size="small" severity="danger" [outlined]="true" (onClick)="onAccept()"
          styleClass="w-32"></p-button>
      </div>
    </div>
  </ng-template>
</p-confirmdialog>